*,
*:before,
*:after {
  box-sizing: border-box;
}
h1 {
  font: 20px/1.8 "Roboto Condensed", Helvetica, Arial, sans-serif;
 
  }
h2 {
  font: 18px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  }
p {
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
 
}
.c1 {
  text-align: center;
  margin: auto;
}

.foot {
  
  font: 12px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  }

form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
legend {
  font: 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}
.account-info {
  padding: 20px 20px 0 20px;
}
.account-info label {
  color: #395870;
  display: block;
  
}
.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  
  width: 100%;
}
.account-info select {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  
}
.account-action {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  
}
.account-action .btn {
  background: linear-gradient(#49708f, #293f50);
  border: 0;
  color: #fff;
  cursor: pointer;
  
}
.account-action label {
  color: #7c7c80;
  font-size: 11px;
  
}
input[type="text"], input[type="email"],  select, textarea {
  width: 100%;
 
}